version: '3'

services:
  # 1. PI-HOLE (Bloqueo de anuncios y DNS)
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "80:80/tcp"
    environment:
      TZ: 'Europe/Madrid'
      WEBPASSWORD: 'admin' # ¡Cámbiala al instalar!
      # Enlaza Pi-hole con Unbound para privacidad total
      PIHOLE_DNS_: '172.20.0.5#5335'
      DNSMASQ_LISTENING: 'all'
    volumes:
      - './etc-pihole:/etc/pihole'
      - './etc-dnsmasq.d:/etc/dnsmasq.d'
    restart: unless-stopped
    networks:
      private_network:
        ipv4_address: 172.20.0.2

  # 2. UNBOUND (Resolver DNS Recursivo propio)
  unbound:
    container_name: unbound
    image: mvance/unbound:latest
    volumes:
      - './unbound:/opt/unbound/etc/unbound'
    ports:
      - "5335:5335/tcp"
      - "5335:5335/udp"
    restart: unless-stopped
    networks:
      private_network:
        ipv4_address: 172.20.0.5

  # 3. UPTIME KUMA (Monitorización y Status Page)
  uptime-kuma:
    image: louislam/uptime-kuma:1
    container_name: uptime-kuma
    volumes:
      - ./uptime-kuma-data:/app/data
    ports:
      - "3001:3001"
    restart: always
    networks:
      - private_network

  # 4. WATCHTOWER (Actualizaciones automáticas de contenedores)
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    # Comprueba actualizaciones cada día a las 4:00 AM
    command: --schedule "0 0 4 * * *" --cleanup
    restart: unless-stopped
    networks:
      - private_network

networks:
  private_network:
    ipam:
      driver: default
      config:
        - subnet: 172.20.0.0/24
